<!-- <h3>Posts</h3>
<ul id="posts">
{{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
    <li>
        <a href="{{ .Permalink }}">
            {{ .Title }}
            <small><time>{{ .Date.Format "Jan 2, 2006" }}</time></small>
        </a>
    </li>
{{- end }}
</ul> -->

<main class="content" role="main">
    <div class="inner">
        <!--
        {{/* range first 3 .Site.Taxonomies.tags.featured */}}
            <li>
                {{/* .PublishDate.Format "02 Jan 2006" */}}
                - 
                <a href="{{ .RelPermalink }}">{{/* .Title */}}</a>
            </li>
        {{/* end */}}
        -->
<strong>noteworthy topics: </strong>
{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags }}
{{ if eq $taxonomyname "math" }}
<a href='{{ "/tags/" | relLangURL }}{{ $taxonomyname | urlize }}'>{{ $taxonomyname }}</a>
{{end}}
{{ if eq $taxonomyname "featured" }}
<a href='{{ "/tags/" | relLangURL }}{{ $taxonomyname | urlize }}'>{{ $taxonomyname }}</a>
{{end}}
{{ end }}

        {{ range (.Site.RegularPages.GroupByDate "2006") }}
            <h3>{{ .Key }}</h3>

            <ol class="archive-list">
                {{ range (where .Pages "Type" "in" site.Params.mainSections) }}
                {{/* if (and (not (in .Params.tags "featured")) (not (in .Params.tags "math")) ) */}}
                    <li style="font-weight: bolder;">
                        <span style="font-weight: normal;">({{ .PublishDate.Format "02 Jan" }})</span>
                        - 
                        <a  style="font-weight: normal;" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                {{/* end */}}
                {{ end }}
            </ol>
        {{ end }}
    </div>
</main>