<!-- <h3>Posts</h3>
<ul id="posts">
{{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
    <li>
        <a href="{{ .Permalink }}">
            {{ .Title }}
            <small><time>{{ .Date.Format "Jan 2, 2006" }}</time></small>
        </a>
    </li>
{{- end }}
</ul> -->

<main class="content" role="main">
    <div class="inner">
        <!--
        {{/* range first 3 .Site.Taxonomies.tags.featured */}}
            <li>
                {{/* .PublishDate.Format "02 Jan 2006" */}}
                - 
                <a href="{{ .RelPermalink }}">{{/* .Title */}}</a>
            </li>
        {{/* end */}}
        -->
<strong>noteworthy topics: </strong>
{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags }}
{{ if eq $taxonomyname "math" }}
<a href='{{ "/tags/" | relLangURL }}{{ $taxonomyname | urlize }}'>{{ $taxonomyname }}</a>
{{end}}
{{ if eq $taxonomyname "featured" }}
<a href='{{ "/tags/" | relLangURL }}{{ $taxonomyname | urlize }}'>{{ $taxonomyname }}</a>
{{end}}
{{ end }}

        {{/* Build the homepage entry set: posts not folded into a digest, plus digests and field guides. */}}
        {{ $standalonePosts := where (where site.RegularPages "Type" "posts") "Params.digest" nil }}
        {{ $digests := where site.RegularPages "Type" "digests" }}
        {{ $fieldguides := where site.RegularPages "Type" "fieldguides" }}
        {{ $entries := $standalonePosts | union $digests | union $fieldguides }}

        {{ range ($entries.GroupByDate "2006") }}
            <h3>{{ .Key }}</h3>

            <ol class="archive-list">
                {{ range .Pages }}
                    {{ $href := or .Params.external_url .RelPermalink }}
                    <li style="font-weight: bolder;">
                        <span style="font-weight: normal;">({{ .PublishDate.Format "02 Jan" }})</span>
                        -
                        <a  style="font-weight: normal;" href="{{ $href }}">{{ .Title }}{{ if eq .Type "digests" }} <small>[digest]</small>{{ end }}{{ if eq .Type "fieldguides" }} <small>[field guide]</small>{{ end }}</a>
                    </li>
                {{ end }}
            </ol>
        {{ end }}
    </div>
</main>