name: github pages

# on:
#   push:
#     branches:
#       - master  # Set a branch name to trigger deployment

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Perform action when files change.
        run: |
          cd extra/colab
          for i in $(ls ${PWD}/../../colab/ | grep ipynb); do
            ls ${PWD}/../../colab/ | grep ipynb
            make run filename="$i" dir=${PWD}/../../colab; 
          done;
          mv ${PWD}/../../colab/*.md ${PWD}/../../blog/content/posts/

      # - uses: stefanzweifel/git-auto-commit-action@v4
      #   with:
      #     commit_message: Apply automatic changes
      #     commit_options: '--no-verify --signoff --quiet'
      #     repository: .
      #     skip_dirty_check: true
      #     skip_fetch: true

      - name: Build
        run: make build
        if: ${{ always() }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ always() }}
        with:
          github_token: ${{ secrets.token }}
          publish_dir: ./blog/public
